extends ../../../system/views/admin/layout/admin

block appendcss
  link(rel='stylesheet', href='/public/files/vendor/jquery-ui/themes/cupertino/jquery-ui.min.css')
  link(rel='stylesheet', href='/public/files/vendor/jquery-ui/themes/cupertino/theme.css')
  link(rel='stylesheet', href='/public/system/admin/index.css')
  link(rel='stylesheet', href='/public/pages/admin/index.css')

block content
  h1.page-header
    | Pages: 
    span(style="color: #666") Create
    div.row.placeholders
  form#createPage.col-sm-8(method="POST", action="/api/pages", autocomplete="off")
  
    h2 Headers
    .form-group
      label(for="inputTitle") Title
      input#inputTitle.form-control(type="text", name="title", value="", placeholder="Max 32 characters", maxlength="32")
    .form-group
      label(for="inputSlug") Slug
      input#inputSlug.form-control(type="text", name="slug", value="", placeholder="Slug (max 32 characters)", maxlength="32")
    .form-group
      label(for="inputStandfirst") Standfirst 
      input#inputStandfirst.form-control(type="text", name="standfirst", value="", placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit.")
    .form-group
      label(for="inputStart") Start 
      input#inputStart.form-control(type="text", name="start", value="", placeholder="dd/mm/yyyy hh:mm:ss")
    .form-group
      label(for="inputEnd") End 
      input#inputEnd.form-control(type="text", name="end", value="", placeholder="dd/mm/yyyy hh:mm:ss")
      
    div.row.placeholders
    
    h2 Blocks
    #pageBlocks
    .btn-group
      button.btn.btn-info.dropdown-toggle(type="button", id="addBlock", data-toggle="dropdown", aria-expanded="false")
        | Add 
        span.caret
      ul.dropdown-menu(role="menu")
        li
          a#addTextBlock(href="#add-text") 
            i.fa.fa-paragraph &nbsp;
            | Text
        li
          a#addQuoteBlock(href="#add-quote")
            i.fa.fa-quote-left &nbsp;
            | Quote
        li
          a#addImageBlock(href="#add-image")
            i.fa.fa-picture-o &nbsp;
            | Image
        li
          a#addGalleryBlock(href="#add-gallery")
            i.fa.fa-instagram &nbsp;
            | Gallery
        li
          a#addVideoBlock(href="#add-video")
            i.fa.fa-youtube &nbsp;
            | Video
      
    div.row.placeholders
      
    input#inputCsrf(type="hidden", name="_csrf", value="#{csrfToken}")
    a.btn.btn-default(href="/admin/pages", style="margin-right: 5px;") Cancel
    button#createPageBtn.btn.btn-success(type="submit") Create
    br
    br
    div#createPageError(class="alert alert-danger hidden", role="alert")
      b
        |	Oops! 
      span.message
        | No Errors

block appendjs
  script.
    window.urlreload = false;
    window.csrf = '#{csrfToken}';
    window.imageList = JSON.parse('!{imageList}');
    window.galleryList = JSON.parse('!{galleryList}');
    $(function() {
      $pageBlocks = $('#pageBlocks');
      $pageBlocks.sortable();
      $pageBlocks.disableSelection();
    });
  script(src="/public/files/vendor/jquery-ui/jquery-ui.min.js")
  script(src="/public/pages/admin/index.js")
