.block
  .panel.panel-default
    block header
      .block-header.text-right
        .fa.fa-sort.text-center
    .panel-body
    
      block content
    //- .panel-footer
    //-   block footer

  include add
