.block
  .panel.panel-default
    block header
      .block-header.clearfix
        .pull-left.text-le
          .fa.fa-sort.text-center
        .pull-right.text-right
          .btn.btn-default.btn-xs.js-delete: span.fa.fa-remove.text-danger
    .panel-body
    
      block content
    //- .panel-footer
    //-   block footer

  include add
