.blocks-list.clearfix
  .block-list__item
    button.btn.btn-default.js-add-block(type="button", data-block='text')
      span.fa.fa-paragraph
      div Text
  .block-list__item
    button.btn.btn-default.js-add-block(type="button", data-block='quote')
      span.fa.fa-quote-left
      div Quote
  .block-list__item
    button.btn.btn-default.js-add-block(type="button", data-block='image')
      span.fa.fa-image
      div Image
  .block-list__item
    button.btn.btn-default.js-add-block(type="button", data-block='gallery')
      span.fa.fa-th-large
      div Gallery
  .block-list__item
    button.btn.btn-default.js-add-block(type="button", data-block='video')
      span.fa.fa-film
      div Video
