extend base
  
block content
  .form-group
    textarea.form-control(name='value', placeholder='Quote text')
  .form-horizontal
    .form-group
      label.control-label.col-sm-3 Credit
      .col-sm-9
        input.form-control(type='text', name='credit')
