extend base

block content
  div.text-editor-toolbar.js-editor-toolbar
    .btn-group
      button.btn.btn-default(type='button', data-command-name='bold'): i.fa.fa-bold
      button.btn.btn-default(type='button', data-command-name='italic'): i.fa.fa-italic
      button.btn.btn-default(type='button', data-command-name='underline'): i.fa.fa-underline
    .btn-group
      button.btn.btn-default(type='button', data-command-name='linkPrompt'): i.fa.fa-chain
      button.btn.btn-default(type='button', data-command-name='unlink'): i.fa.fa-chain-broken
      button.btn.btn-default(type='button', data-command-name='insertOrderedList'): i.fa.fa-list-ol
      button.btn.btn-default(type='button', data-command-name='insertUnorderedList'): i.fa.fa-list-ul
    .btn-group
      button.btn.btn-default(type='button', data-command-name='h2'): i.fa.fa-header
  div.form-control.text-editor.js-editor
